<div class="container-fluid bg-dark mt-5 text-light">
  <div class="row">
      <div class="col-4 text-center mt-2">
          <img src="../../../../assets/img/rick-astley-logo.png">
          <h5>Il tuo autosalone del non arrenderti mai!</h5>
          <address>
              Viale Del Never gonna<br>
              03044 Cervaro <br>
              39/3388407108<br>
          </address>
      </div>
      <div class="col-4 d-flex justify-content-around align-items-center">
          <a [routerLink]="['/']" class="menu-footer">Home</a> |
          <a [routerLink]="['/fiat']" class="menu-footer">Fiat</a> |
          <a [routerLink]="['/ford']" class="menu-footer">Ford</a> |
          <a [routerLink]="['/audi']" class="menu-footer">Audi</a>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
          <p>
            We're no strangers to love
            You know the rules and so do I (do I)
            A full commitment's what I'm thinking of
            You wouldn't get this from any other guy
            I just wanna tell you how I'm feeling
            Gotta make you understand
            Never gonna give you up
            Never gonna let you down
            Never gonna run around and desert you
            Never gonna make you cry
            Never gonna say goodbye
            Never gonna tell a lie and hurt you
            We've known each other for so long
            Your heart's been aching, but you're too shy to say it (say it)
            Inside, we both know what's been going on (going on)
            We know the game and we're gonna play it
            And if you ask me how I'm feeling
            Don't tell me you're too blind to see
          </p>
      </div>
  </div>
</div>
