$bgColor: rgb(89, 27, 211);
$liColor: white;

$btnPrimary: rgb(15, 144, 230);
$btnPrimaryHover: rgb(0, 108, 180);
$btnPrimaryPadding: 1em;
$btnPrimaryMargin: 10px;
$btnPrimaryRadius: 5px;

$btnSecondary: rgb(241, 179, 8);
$btnSecondaryHover: rgb(157, 116, 5);
$btnSecondaryPadding: 1em;
$btnSecondaryMargin: 10px;
$btnSecondaryRadius: 5px;

$btnTertiary: rgb(41, 218, 94);
$btnTertiaryHover: rgb(2, 112, 35);
$btnTertiaryPadding: 1em;
$btnTertiaryMargin: 10px;
$btnTertiaryRadius: 5px;

$showCasePadding: 2em 5em;

$paragraphPaddingBottom: 1.3em;

$imgHeight: 300px;
$imgWidth: 300px;
