<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item" [class.active]="isActive('/')">
        <a routerLink="/" class="nav-link px-2 text-body-secondary" aria-current="page">Home</a>
      </li>
      <li class="nav-item" [class.active]="isActive('/completed')">
        <a routerLink="/completed" class="nav-link px-2 text-body-secondary">Task Complete</a>
      </li>
      <li class="nav-item" [class.active]="isActive('/toDoUnDone')">
        <a routerLink="/toDoUnDone" class="nav-link px-2 text-body-secondary">Task Uncompleted</a>
      </li>
      <li class="nav-item" [class.active]="isActive('/users')">
        <a routerLink="/users" class="nav-link px-2 text-body-secondary">Users</a>
      </li>

    </ul>
  </header>
</div>

