a {
    color: black;
}

main {
    background-color: #7550FE;
    h1 {
        color: white;
    }
    p {
        color: white;
        opacity: 0.8;
    }
}

aside {
    box-shadow: 0px 3px 4px rgb(184, 184, 184);
}