<div class="container-fluid text-center">
  <div class="mt-4 p-5 bg-body-secondary text-dark rounded">
      <img src="../../../../assets/img/rick-astley-logo.png">
      <h1>L'Autosalone N°1 Per Developer</h1>
      <h3>Grazie alla nostra nuovissima collezione anche tu potrai avere degli amici con il passamontagna sotto casa!</h3>
  </div>
  <div>
      <h3 class="text-center">Chi Ci Mette La Faccia</h3>
      <ul class="d-flex justify-content-center">
        <li class="list-unstyled">
          <img src="../../../../assets/img/fiat logo.png">
          </li>
          <li class="list-unstyled">
          <img src="../../../../assets/img/ford.png">
          </li>
          <li class="list-unstyled">
              <img src="../../../../assets/img/audi.png">
                </li>
      </ul>
  </div>
  <hr>
  <div>
      <h3 class="text-center">Auto Con Upgrade 2.0</h3>
      <div class="row">
          <div class="col-6 d-flex justify-content-center" *ngFor="let random of randomVehicle">
              <div class="card" style="width: 18rem;" [ngClass]="{
                  'bg-success': random.available,
                  'bg-danger': !random.available
              }">
                  <div class="card-body">
                    <img src="{{random.modelImage}}" class="card-img-top" alt="Car">
                      <h5 class="card-title">{{random.brand}} {{random.model}}
                      </h5>
                      <p class="card-text">
                          <span
                              class="badge bg-primary me-1 text-uppercase">Anno:
                              {{random.year}}</span>
                          <span
                              class="badge bg-primary me-1 text-uppercase">Prezzo:
                              {{random.price}}</span>
                          <span *ngIf="random.available; else elseSpan"
                              class="badge bg-primary me-1 text-uppercase">Pronta
                              consegna: sì</span>
                              <ng-template #elseSpan>
                                  <span
                              class="badge bg-primary me-1 text-uppercase">Pronta
                              consegna: no</span>
                              </ng-template>
                      </p>
                      <a [routerLink]="['/' + random.brand.toLowerCase()]" class="btn btn-primary">Tutte le nostre {{random.brand}}</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
