<div id="center" class="bg-secondary pb-5">
  <a routerLink="/auth" class="p-3"
    ><i class="bi bi-arrow-left-circle-fill fs-1 text-light"></i
  ></a>
  <form
    class="w-50 mx-auto p-3 bg-light rounded-2"
    [formGroup]="form"
    (ngSubmit)="register()"
    novalidate
  >
    <div class="mb-3">
      <label for="nome" class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="nome" />
      <span
        *ngIf="!isValid('nome') && isTouched('nome')"
        class="text-danger fst-italic"
        >required</span
      >
    </div>
    <div class="mb-3">
      <label for="cognome" class="form-label">Surname</label>
      <input type="text" class="form-control" formControlName="cognome" />
      <span
        *ngIf="!isValid('cognome') && isTouched('cognome')"
        class="text-danger fst-italic"
        >required</span
      >
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" formControlName="username" />
      <span
        *ngIf="!isValid('username') && isTouched('username')"
        class="text-danger fst-italic"
        >required</span
      >
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" />
      <span
        *ngIf="!isValid('email') && isTouched('email')"
        class="text-danger fst-italic"
        >required</span
      >
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" />
      <span
        *ngIf="!isValid('password') && isTouched('password')"
        class="text-danger fst-italic"
        >required</span
      >
    </div>
    <div class="mb-3">
      <label for="confermaPassword" class="form-label">Confirm password</label>
      <input
        type="password"
        class="form-control"
        formControlName="confermaPassword"
      />
      <span
        *ngIf="!isValid('confermaPassword') && isTouched('confermaPassword')"
        class="text-danger fst-italic d-block"
        >required</span
      >
      <span
        *ngIf="form.hasError('matchPswControl')"
        class="text-danger fst-italic"
        >Wrong password</span
      >
    </div>
    <div class="mb-3">
      <label for="genere" class="form-label">Gender</label>
      <select class="form-select" formControlName="genere">
        <option value="abi">Abinary</option>
      <option value="age">Agender</option>
      <option value="andro">Androgyne</option>
      <option value="auti">Autigender</option>
      <option value="bak">Bakla</option>
      <option value="bige">Bigender</option>
      <option value="butch">Butch</option>
      <option value="rick">Rick Astley</option>
      <option value="cala">Calabai</option>
      <option value="cisg">Cisgender</option>
      <option value="demi">Demi-boy</option>
      <option value="dem">Demigender</option>
      <option value="demig">Demi-girl</option>
      <option value="dual">Dual gender</option>
      <option value="eun">Eunuch</option>
      <option value="afaf">Faʻafafine</option>
      <option value="ftom">Female to male</option>
      <option value="ftm">FTM</option>
      <option value="gb">Gender bender</option>
      <option value="gg">Gender gifted</option>
      <option value="gf">Genderfluid</option>
      <option value="gflu">Genderflux</option>
      <option value="gn">Gender nonconforming</option>
      <option value="hij">Hijra</option>
      <option value="inter">Intergender</option>
      <option value="ips">Ipsogender</option>
      <option value="kath">Kathoey</option>
      <option value="mahu">Māhū</option>
      <option value="mal">Male</option>
      <option value="mtf">Male to female</option>
      <option value="nei">Neither</option>
      <option value="neut">Neutrois</option>
      <option value="omni">Omnigender</option>
      <option value="pan">Pangender</option>
      <option value="queer">Queer</option>
      <option value="sek">Sekhet</option>
      <option value="tra">Trans</option>
      <option value="vaka">Vakasalewalewa</option>
      <option value="xg">X-gender</option>
      <option value="xj">X-jendā</option>
      </select>
      <span
        *ngIf="!isValid('genere') && isTouched('genere')"
        class="text-danger fst-italic"
        >required</span
      >
    </div>
    <div class="mb-3">
      <label for="bio" class="form-label">Bio</label>
      <textarea class="form-control" formControlName="bio"></textarea>
      <span
        *ngIf="!isValid('bio') && isTouched('bio')"
        class="text-danger fst-italic"
        >request</span
      >
    </div>
    <button [disabled]="form.invalid" class="btn btn-primary">
      SingIn
    </button>
  </form>
</div>
